// Параметры шрифта
$font = {
  style: normal,
  variant: normal,
  weight: 400,
  size: 12pt,
  height: 1,
  family: "'Source Sans Pro', Arial, Helvetica, sans-serif"
}

// Base em size
$em = 16

// Num columns in responsive layout grid
$grid = 12

$colors = {
  header: #222
}

$desktopWidth = 864
