// button

.button
  @extends $button
  box-sizing: border-box
  min-width: 5.5rem
  height: 2.5rem
  padding: .375rem .75rem
  font-size: px2rem(15)
  line-height: 1.5rem
  color: #fff
  letter-spacing: .024em
  text-transform: uppercase
  cursor: pointer
  opacity: .72
  transition: all .24s ease

  &:hover
    opacity: 1

  &_func_apply
    border: .125rem solid #104e8b

    &:hover
      background-color: #104e8b
