// editor

.editor
  position: absolute
  top: 0
  left: 0
  display: flex
  flex-flow: column nowrap
  justify-content: stretch
  align-content: stretch
  align-items: stretch
  width: 100%
  height: 100%
  background-color: #222
  font-family: 'Source Code Pro', monospace

  &__main
    position: relative
    flex: 1 1 auto
    display: block
    overflow: auto

    scroll(@background-color, #999, #666)

  &__bar
    position: relative
    flex: 0 0 auto
    display: block
    height: px2em(40)
    padding: .75em 1.5em
    border-top: px2em(1) solid rgba(255, 255, 255, .12)
    text-align: right

  &__field
    box-sizing: border-box
    position: relative
    display: block
    width: 100%
    height: 100%
    padding: px2rem(24)
    border: none
    outline: 0
    margin: 0
    background-color: transparent
    font: normal normal px2em(13)/1.25rem 'Fira Mono', monospace
    color: #fff
    cursor: text
    resize: none
