// header

.header
  position: relative
  flex: 0 0 auto
  display: block
  height: px2em(48)
  padding: 0 px2em(24)
  background-color: $colors.header
  color: rgba(255, 255, 255, .72)
  cursor: default
  user-select: none

  @media all and (min-width: px2em($desktopWidth))
    height: px2em(64)

  &__title
    position: relative
    display: block
    padding: 0
    margin: 0
    font-weight: bold
    font-size: px2em(23)
    line-height: px2rem(48)

    @media all and (min-width: px2em($desktopWidth))
      font-size: px2em(27)
      line-height: px2rem(64)
