//  main

.main
  position: relative
  flex: 1 1 auto
  display: flex
  flex-flow: row nowrap
  justify-content: stretch
  align-content: stretch
  align-items: stretch
  transition: transform .24s ease
  transform: translateX(0)

  &:target
  &_tab_2
    transform: translateX(-100%)

    @media all and (min-width: px2em($desktopWidth))
      transform: translateX(0)
      transition: none

  &__editor
  &__result
    position: relative
    top: 0
    left: 0
    flex: 0 0 auto
    width: 100%

    @media all and (min-width: px2em($desktopWidth))
      position: relative
      width: 50%

  &__result
    display: block

    @media all and (min-width: px2em($desktopWidth))
      box-shadow: px2em(-1) 0 0 #eee

  &__frame
    position: relative
    display: block
    width: 100%
    height: 100%
