// tabs

.tabs
  position: relative
  display: flex
  flex-flow: row nowrap
  justify-content: stretch
  align-content: stretch
  align-items: stretch
  height: px2em(48)
  border-width: px2em(1) 0
  border-style: solid
  border-color: rgba(255, 255, 255, .12)
  background-color: $colors.header

  @media all and (min-width: px2em($desktopWidth))
    display: none

  .tabs__button
    box-sizing: border-box
    position: relative
    flex: 0 0 auto
    display: block
    width: 50%
    height: 100%
    padding: .75em 1.5em
    border-right: 1px solid rgba(255, 255, 255, .12)
    line-height: 1.5em
    color: rgba(255, 255, 255, .72)
    text-decoration: none
    text-align: center
    cursor: pointer
    user-select: none
    transition: all .24s ease

    &:last-child
      border: none

    &:hover
    &:visited
      color: rgba(255, 255, 255, 1)
